<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XcodeFreeTestOnTelephone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186B57861BCC9D3B0049154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186B579F1BCC9D3B0049154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186B57AA1BCC9D3B0049154C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
